.main ul a{
    color: rgb(0, 255, 136);
    background-color: rgba(89, 0, 255, 0.908);
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px 0 10px 0;
    
}
span{
    margin-left: 10px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}
.abc{
    margin-top: -50px;
}
/.red{
    background-image: url("download.jfif");
    background-size: 100% 100vh;
}
.main ul a .active{
    background-color:black !important;
}